In [8]:
%config Completer.use_jedi = False

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('df_sleep_adhd.csv')
df.head()

,id_number,ChildGender,d1_diagadhd_dich,d3_diagadhd_dich,d5_diagadhd_dich,p0_cpadhdi_raw,p3_cpadhdi_raw,p4_cpadhdi_raw,p5_cpadhdi_raw,c4_sws_gb,...,c4_sws_ms,c4_sws_rs,c4_sws_rw,c4_sws_total,c5_sws_gb,c5_sws_fa,c5_sws_ms,c5_sws_rs,c5_sws_rw,c5_sws_total
0,15,1,0.0,0,0.0,0,0.0,0.0,0.0,3.0,...,2.833333,1.833333,4.2,2.400000,1.4,1.000000,1.833333,1.666667,3.4,1.513333
1,71,1,1.0,1,NaN,14,12.0,12.0,NaN,4.0,...,3.500000,3.000000,3.2,3.366667,NaN,NaN,NaN,NaN,NaN,NaN
2,85,0,0.0,0,0.0,5,14.0,0.0,1.0,2.8,...,3.500000,2.166667,2.8,2.560000,3.6,2.500000,2.500000,2.000000,4.2,2.520000
3,86,1,1.0,1,0.0,16,11.0,18.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,134,1,0.0,0,0.0,2,0.0,0.0,0.0,3.6,...,2.166667,1.833333,3.4,2.320000,3.4,2.166667,2.166667,2.000000,3.8,2.346667

In [9]:
df_sdq = pd.read_csv('SDQ.csv')
df_sdq.head()

,id_number,p4_sdqemotion,p4_sdqconduct,p4_sdqhyper,p4_sdqpeer,p4_sdqprosoc,p4_sdqtot,p4_sdqimpact,p5_sdqemotion,p5_sdqconduct,p5_sdqhyper,p5_sdqpeer,p5_sdqprosoc,p5_sdqtot,p5_sdqimpact
0,15,0.0,0.0,0.0,1.0,10.0,1.0,0.0,0.0,2.0,0.0,1.0,10.0,3.0,0.0
1,71,6.0,6.0,9.0,3.0,6.0,24.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,85,5.0,0.0,3.0,1.0,9.0,9.0,0.0,4.0,2.0,4.0,1.0,9.0,11.0,4.0
3,86,8.0,4.0,10.0,3.0,6.0,25.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,134,1.0,0.0,1.0,0.0,9.0,2.0,0.0,1.0,2.0,1.0,0.0,8.0,4.0,0.0

In [10]:
df = pd.merge(left = df, right = df_sdq, how = 'left', on = 'id_number' )

In [11]:
df

,id_number,ChildGender,d1_diagadhd_dich,d3_diagadhd_dich,d5_diagadhd_dich,p0_cpadhdi_raw,p3_cpadhdi_raw,p4_cpadhdi_raw,p5_cpadhdi_raw,c4_sws_gb,...,p4_sdqprosoc,p4_sdqtot,p4_sdqimpact,p5_sdqemotion,p5_sdqconduct,p5_sdqhyper,p5_sdqpeer,p5_sdqprosoc,p5_sdqtot,p5_sdqimpact
0,15,1,0.0,0,0.0,0,0.0,0.0,0.0,3.0,...,10.0,1.0,0.0,0.0,2.0,0.0,1.0,10.0,3.0,0.0
1,71,1,1.0,1,NaN,14,12.0,12.0,NaN,4.0,...,6.0,24.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,85,0,0.0,0,0.0,5,14.0,0.0,1.0,2.8,...,9.0,9.0,0.0,4.0,2.0,4.0,1.0,9.0,11.0,4.0
3,86,1,1.0,1,0.0,16,11.0,18.0,NaN,NaN,...,6.0,25.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,134,1,0.0,0,0.0,2,0.0,0.0,0.0,3.6,...,9.0,2.0,0.0,1.0,2.0,1.0,0.0,8.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,7069,0,0.0,1,NaN,8,6.0,3.0,7.0,3.6,...,5.0,19.0,4.0,6.0,5.0,5.0,3.0,3.0,19.0,4.0
193,7074,0,1.0,0,0.0,7,4.0,2.0,4.0,3.8,...,9.0,20.0,7.0,9.0,5.0,2.0,4.0,9.0,20.0,6.0
194,7130,1,1.0,1,NaN,18,14.0,19.0,NaN,3.0,...,4.0,24.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,7148,1,0.0,1,1.0,12,10.0,12.0,6.0,3.4,...,9.0,13.0,2.0,2.0,3.0,8.0,0.0,10.0,13.0,1.0
196,7187,1,1.0,1,1.0,19,19.0,20.0,NaN,NaN,...,1.0,22.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN