In [53]:
%config Completer.use_jedi = False

In [54]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [55]:
df = pd.read_csv('df_sleep_adhd.csv')
df.head()

,id_number,ChildGender,d1_diagadhd_dich,d3_diagadhd_dich,d5_diagadhd_dich,p0_cpadhdi_raw,p3_cpadhdi_raw,p4_cpadhdi_raw,p5_cpadhdi_raw,c4_sws_gb,...,c4_sws_ms,c4_sws_rs,c4_sws_rw,c4_sws_total,c5_sws_gb,c5_sws_fa,c5_sws_ms,c5_sws_rs,c5_sws_rw,c5_sws_total
0,15,1,0.0,0,0.0,0,0.0,0.0,0.0,3.0,...,2.833333,1.833333,4.2,2.400000,1.4,1.000000,1.833333,1.666667,3.4,1.513333
1,71,1,1.0,1,NaN,14,12.0,12.0,NaN,4.0,...,3.500000,3.000000,3.2,3.366667,NaN,NaN,NaN,NaN,NaN,NaN
2,85,0,0.0,0,0.0,5,14.0,0.0,1.0,2.8,...,3.500000,2.166667,2.8,2.560000,3.6,2.500000,2.500000,2.000000,4.2,2.520000
3,86,1,1.0,1,0.0,16,11.0,18.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,134,1,0.0,0,0.0,2,0.0,0.0,0.0,3.6,...,2.166667,1.833333,3.4,2.320000,3.4,2.166667,2.166667,2.000000,3.8,2.346667

In [56]:
df_sdq = pd.read_csv('SDQ.csv')
df_sdq.head()

,id_number,p4_sdqemotion,p4_sdqconduct,p4_sdqhyper,p4_sdqpeer,p4_sdqprosoc,p4_sdqtot,p4_sdqimpact,p5_sdqemotion,p5_sdqconduct,p5_sdqhyper,p5_sdqpeer,p5_sdqprosoc,p5_sdqtot,p5_sdqimpact
0,15,0.0,0.0,0.0,1.0,10.0,1.0,0.0,0.0,2.0,0.0,1.0,10.0,3.0,0.0
1,71,6.0,6.0,9.0,3.0,6.0,24.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,85,5.0,0.0,3.0,1.0,9.0,9.0,0.0,4.0,2.0,4.0,1.0,9.0,11.0,4.0
3,86,8.0,4.0,10.0,3.0,6.0,25.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,134,1.0,0.0,1.0,0.0,9.0,2.0,0.0,1.0,2.0,1.0,0.0,8.0,4.0,0.0

In [57]:
df = pd.merge(left = df, right = df_sdq, how = 'left', on = 'id_number' )

In [58]:
cols = df.columns.values.tolist()

In [59]:
cols = cols[7:]

In [60]:
np.shape(cols)

(28,)

## creating tscore and zscore columns for all sleep and adhd values

In [70]:
for col in df.columns:
    if col in cols:
        df_col = df.copy()
        df_col = df_col.dropna(axis = 0, subset = [col])
        zscore = 'zscore_' + col
        df_col[zscore] = stats.zscore(list(df_col[col].values))
        tscore = 'tscore_' + col
        df_col[tscore] = ((df_col[zscore])*10) + 50
        df = pd.merge(left = df, right = df_col[['id_number', zscore, tscore]], how = 'left', on = 'id_number')

## creating dichotomus with 60,65,70, and 4060 thresholds for all sleep and adhd values

In [73]:
for col in df.columns:
    if col.find("tscore_") == 0:
        name = "dich_" + col + "_60"
        df[name] = df[col]
        for i,ind in enumerate(df[col]):
            if ind >= 60:
                df[name][i] = '1'
            elif ind < 60:
                df[name][i] = '0'
            else:
                df[name][i] = 'NaN'
                
                
for col in df.columns:
    if col.find("tscore_") == 0:
        name = "dich_" + col + "_65"
        df[name] = df[col]
        for i,ind in enumerate(df[col]):
            if ind >= 65:
                df[name][i] = '1'
            elif ind<65:
                df[name][i] = '0'
            else:
                df[name][i] = 'NaN'
        
        
for col in df.columns:
    if col.find("tscore_") == 0:
        name = "dich_" + col + "_70"
        df[name] = df[col]
        for i,ind in enumerate(df[col]):
            if ind >= 70:
                df[name][i] = '1'
            elif ind < 70:
                df[name][i] = '0'
            else:
                df[name][i] = 'NaN'
                
for col in df.columns:
    if col.find("tscore_") == 0:
        name = "dich_" + col + "_4060"
        df[name] = df[col]
        for i,ind in enumerate(df[col]):
            if ind >= 60:
                df[name][i] = '1'
            elif ind <=40:
                df[name][i] = '0'
            else:
                df[name][i] = 'NaN'

<ipython-input-73-95d1269b3fb9>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '0'
<ipython-input-73-95d1269b3fb9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '1'
<ipython-input-73-95d1269b3fb9>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = 'NaN'
<ipython-input-73-95d1269b3fb9>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '0'
<ipython-input-73-95d1269b3fb9>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '1'
<ipython-input-73-95d1269b3fb9>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = 'NaN'
<ipython-input-73-95d1269b3fb9>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '0'
<ipython-input-73-95d1269b3fb9>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = 'NaN'
<ipython-input-73-95d1269b3fb9>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '1'
<ipython-input-73-95d1269b3fb9>:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = 'NaN'
<ipython-input-73-95d1269b3fb9>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '1'
<ipython-input-73-95d1269b3fb9>:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '0'

In [76]:
df.shape

(197, 203)

In [77]:
df.to_csv('1_behavioral_dataframe.csv')